@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    background-color: black;
    font-family: 'GTEestiProText', Arial, sans-serif;
}


.fix-border {
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-bottom-left-radius: var(--bs-border-radius);
    border-bottom-right-radius: var(--bs-border-radius);
}

.gray-color {
    background-color: #141314;
}

.main-container {
    height: fit-content;
}


.nav-link.active {
    color: #ffe9aa !important;
}

.nav-tabs {
    max-height: 65px;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex !important;
    flex-wrap: unset;
    flex-direction: row;
}

.main-title {
    width: fit-content;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    flex-wrap: wrap;
    align-items: center;
}

.main-describe {
    max-width: 600px;
    margin: 0;
}

.main-bug {
    filter: invert();
    width: 100px;
    height: 100px;
}

/* Элемент для вращения */
.rotating {
    width: 100px;
    height: 100px;
    animation: spin 3s ease-in-out infinite;
}

/* Определение анимации */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.bug-container {
    width: fit-content;
    user-select: none;
}

.analyse {
    background-color: white;
    height: 10px;
    color: red;
}

.fw-bolder {
    padding: 2px;
}


svg {
    display: inline-block;
    font-size: 37px;
    width: 140px;
    height: fit-content;
    margin: 0 6px;
    vertical-align: middle;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 9% 2%;
    stroke-width: .4px;
    stroke-dashoffset: 0;
    animation: stroke-offset 3s infinite linear;
}

.text-copy:nth-child(1) {
    stroke: #ff0000;
    animation-delay: -1s;
}

.text-copy:nth-child(2) {
    stroke: #ff0000;
    animation-delay: -2s;
}

.text-copy:nth-child(3) {
    stroke: #ff0000;
    animation-delay: -3s;
}

.text-copy:nth-child(4) {
    stroke: #ffffff;
    animation-delay: -4s;
}

.text-copy:nth-child(5) {
    stroke: #ffffff;
    animation-delay: -5s;
}

@keyframes stroke-offset {
    100% {
        stroke-dashoffset: -35%;
    }
}

.main-logo {
    width: 300px;
}